In [3]:
import sqlite3

create connection with sqlite and create database named "student.db"

In [4]:
con = sqlite3.connect("student.db")

create cursor on con object

In [5]:
cur = con.cursor()

create table query

In [4]:
query="create table if not exists stud(eid int primary key, name text)"

execute query using execute()

In [5]:
cur.execute(query)

create another table and connect it stud table with forign key

In [6]:
query2 = "create table if not exists stud_details(eid integer primary key,city text not null,mobileno number not null,FOREIGN KEY (eid) references stud(eid))"

In [7]:
cur.execute(query2)

In [8]:
con.commit()

insert recordes into both tables using insert record function

In [9]:
def insertstud(n):
    l=[]
    query=f"insert into stud values(?,?)"
       
    for i in range(n):
        eid=int(input("Enter student id:"))
        ename=input("Enter studewnt name ")
        t=(eid,ename)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

In [10]:
def insertstuddetail(n):
    l=[]
    query=f"insert into stud_details values(?,?,?)"
    
    for i in range(n):
        eid=int(input("Enter student id:"))
        city=input("Enter studewnt city:")
        mobile=int(input("Enter mobile number:"))
        t=(eid,city,mobile)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

->find record for surat city students

In [11]:
def selectbycityname():
    query=f"select stud.eid,name ,city, mobileno from stud_details inner join stud on stud.eid=stud_details.eid and city ='surat'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Student id:{}\nStudemt name:{}\nStudent city:{}\nStudent mobile No:{}\n".format(i[0],i[1],i[2],i[3]))

->fetch record whose city name start with 'b'

In [12]:
def selectbycitynamestartwith():
    query=f"select stud.eid,name ,city, mobileno from stud_details inner join stud on stud.eid=stud_details.eid and city like 'b%'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Student id:{}\nStudemt name:{}\nStudent city:{}\nStudent mobile No:{}\n".format(i[0],i[1],i[2],i[3]))

-> update mobile number whose city is surat

In [13]:
def updatemob():
    newmob=int(input("Enter new mobile Number:"))
    query=f"update stud_details set mobileno={newmob} where city='surat'"
    cur.execute(query)
    con.commit()

-> call insert function for stud table

In [14]:
insertstud(10)

Enter student id:1
Enter studewnt name om
Enter student id:2
Enter studewnt name sai
Enter student id:3
Enter studewnt name ram
Enter student id:4
Enter studewnt name radha
Enter student id:5
Enter studewnt name krish
Enter student id:6
Enter studewnt name pratham
Enter student id:7
Enter studewnt name vidhi
Enter student id:8
Enter studewnt name bhavik
Enter student id:9
Enter studewnt name yug
Enter student id:10
Enter studewnt name rahul

-> call insert function for stud_details table

In [15]:
insertstuddetail(10)

Enter student id:1
Enter studewnt city:bardoli
Enter mobile number:8754857485
Enter student id:2
Enter studewnt city:surat
Enter mobile number:8544220012
Enter student id:3
Enter studewnt city:mandvi
Enter mobile number:8956965874
Enter student id:4
Enter studewnt city:bardoli
Enter mobile number:8745123366
Enter student id:5
Enter studewnt city:bharuch
Enter mobile number:7745859620
Enter student id:6
Enter studewnt city:vyara
Enter mobile number:9696548541
Enter student id:7
Enter studewnt city:bardoli
Enter mobile number:9622001142
Enter student id:8
Enter studewnt city:surat
Enter mobile number:6985748522
Enter student id:9
Enter studewnt city:bhuj
Enter mobile number:7485696654
Enter student id:10
Enter studewnt city:surat
Enter mobile number:8574552266

-> call function to fetch record where city is surat

In [16]:
selectbycityname()

Student id:2
Studemt name:sai
Student city:surat
Student mobile No:8544220012

Student id:8
Studemt name:bhavik
Student city:surat
Student mobile No:6985748522

Student id:10
Studemt name:rahul
Student city:surat
Student mobile No:8574552266

-> call function to fetch record where city n ame start with '[b]'

In [17]:
selectbycitynamestartwith()

Student id:1
Studemt name:om
Student city:bardoli
Student mobile No:8754857485

Student id:4
Studemt name:radha
Student city:bardoli
Student mobile No:8745123366

Student id:5
Studemt name:krish
Student city:bharuch
Student mobile No:7745859620

Student id:7
Studemt name:vidhi
Student city:bardoli
Student mobile No:9622001142

Student id:9
Studemt name:yug
Student city:bhuj
Student mobile No:7485696654

-> update mobile number where city is surat

In [18]:
updatemob()

Enter new mobile Number:7485858744

In [6]:
con.commit()

->close the connection with database

In [7]:
con.close()