In [8]:
import sqlite3

create connection with sqlite and create database named "student.db"

In [9]:
con = sqlite3.connect("student.db")

create cursor on con object

In [10]:
cur = con.cursor()

create table query

In [11]:
query="create table if not exists stud(eid int primary key, name text)"

execute query using execute()

In [12]:
cur.execute(query)

create another table and connect it stud table with forign key

In [13]:
query2 = "create table if not exists stud_details(eid integer primary key,city text not null,mobileno number not null,FOREIGN KEY (eid) references stud(eid))"

In [21]:
cur.execute(query2)

In [14]:
con.commit()

insert recordes into both tables using insert record function

In [71]:
def insertstud(n):
    l=[]
    query=f"insert into stud values(?,?)"
       
    for i in range(n):
        eid=int(input("Enter student id:"))
        ename=input("Enter studewnt name ")
        t=(eid,ename)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

In [25]:
def insertstuddetail(n):
    l=[]
    query=f"insert into stud_details values(?,?,?)"
    
    for i in range(n):
        eid=int(input("Enter student id:"))
        city=input("Enter studewnt city:")
        mobile=int(input("Enter mobile number:"))
        t=(eid,city,mobile)
        l.append(t)
    cur.executemany(query,l)
    con.commit()

->find record for surat city students

In [75]:
def selectbycityname():
    query=f"select stud.eid,name ,city, mobileno from stud_details inner join stud on stud.eid=stud_details.eid and city ='surat'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Student id:{}\nStudemt name:{}\nStudent city:{}\nStudent mobile No:{}\n".format(i[0],i[1],i[2],i[3]))

->fetch record whose city name start with 'b'

In [76]:
def selectbycitynamestartwith():
    query=f"select stud.eid,name ,city, mobileno from stud_details inner join stud on stud.eid=stud_details.eid and city like 'b%'"
    cur.execute(query)
    data=cur.fetchall()
    for i in data:
        print("Student id:{}\nStudemt name:{}\nStudent city:{}\nStudent mobile No:{}\n".format(i[0],i[1],i[2],i[3]))

-> update mobile number whose city is surat

In [64]:
def updatemob():
    newmob=int(input("Enter new mobile Number:"))
    query=f"update stud_details set mobileno={newmob} where city='surat'"
    cur.execute(query)
    con.commit()

-> call insert function for stud table

In [74]:
insertstud(10)

Enter student id:1
Enter studewnt name om

IntegrityError: UNIQUE constraint failed: stud.eid

-> call insert function for stud_details table

In [ ]:
insertstuddetail(10)

-> call function to fetch record where city is surat

In [77]:
selectbycityname()

Student id:1
Studemt name:om
Student city:surat
Student mobile No:9999999999

-> call function to fetch record where city n ame start with '[b]'

In [78]:
selectbycitynamestartwith()

-> update mobile number where city is surat

In [66]:
updatemob()

Enter new mobile Number:9999999999

[(1, 'om', 'surat', 9999999999)]
Student id:1
Studemt name:om
 Student city:surat
 Student mobile No:9999999999